* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table, th, td {
  border: 1px solid;
}

th{
  user-select: none;
  font-size: 175%;
}

td{
  min-width: 1vw;
}

.container{
  width: 100vw;
  height: 100vh;
  background-color: #89b0aeff;
}

.top-bar{
  display:flex;
  width:100%;
  height:8%;
  background-color: #555b6eff;
  border-bottom: thick solid #ffd6ba;;
}

.wug{
  height: 100%;
  width: auto;
}

.dropdowns{
  width: 90%;
  display:flex;
  align-items: row;
  justify-content: space-evenly;
}

.dropdown{
  background-color: #55c1ffff;
  text-align: center;
  width: 15%;
  height: 60%;
  margin-top: 1%;
  border-radius: 5% / 15%;
}

.display-body{
  display: flex;
  height: 92%;
  width: 100%;
  align-items: row;
  padding: 3%;
}

.to-work-on{
  background-color: #ffd6ba;
  width:15%;
  height:100%;
  border: thick solid #555b6eff;
  border-radius: 20% / 6%;
}

.ipa-table{
  display:flex;
  background-color: #ffd6ba;
  width: 82%;
  height: 100%;
  border: thick solid #555b6eff;
  border-radius: 8% / 15%;
  margin-left: 3%;
  flex-direction: column;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

.page-title{
  font-size: 400%;
}


.cons-table{
  border-collapse: collapse;
  width: 100%;
  height: 70%;
  text-align: center;
  border: medium solid;
}

.header{
  cursor: pointer;
}

.symbol{
  font-size: 200%;
}

.symbol.filled{
  cursor: pointer;
}

.symbol.even-box{
  border-right: none;
}

.symbol.odd-box{
  border-left: none;
}

.selected{
  background-color: #55c1ffff;
}

.play-button{
  margin: 1%;
  width: 10%;
  height: auto;
  cursor: pointer;
}
