* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table, th, td {
  border: 1px solid;
}

th{
  user-select: none;
  font-size: 175%;
}

td{
  min-width: 1vw;
}

.container{
  width: 100vw;
  height: 100vh;
  background-color: #89b0af;
}

.top-bar{
  position: relative;
  display:flex;
  width:100%;
  height:8%;
  background-color: #555b6e;
  border-bottom: thick solid #ffd6ba;;
}

.wug{
  height: 100%;
  width: auto;
}

.dropdowns{
  position: absolute;
  width: 100%;
  height: 100%;
  display:flex;
  align-items: row;
  justify-content: space-evenly;
  top: 10%;
}

.dropdown{
  z-index: 1;
  background-color: #55c1ff;
  text-align: center;
  min-width: 20%;
  height: 80%;
  border-top-left-radius: 2% 15%;
  border-top-right-radius: 2% 15%;
  cursor: pointer;
  user-select: none;
  border: 3px solid black;
}

.dd-menu{
  display: none;
}

.dropdown:hover .dd-menu{
  box-sizing: content-box;
  display: block;
  list-style-type: none;
  width: 100%;
  background-color: #55c1ff;
  border-bottom-left-radius: 2% 8%;
  border-bottom-right-radius: 2% 8%;
  margin-left: -3px;
  border: 3px solid black;
  border-top: 0px;
}

.dd-title:hover{
  background-color: #89b0af;
}

.dd-menu-item{
  padding: 5%;
}

.dd-menu-item:hover{
  background-color: #89b0af;
}

.display-body{
  z-index: 0;
  display: flex;
  height: 92%;
  width: 100%;
  align-items: row;
  padding: 3%;
}

.to-work-on{
  background-color: #ffd6ba;
  width:15%;
  height:100%;
  border: thick solid #555b6e;
  border-radius: 20% / 6%;
  text-align: center;
}

.trouble-symbols{
  padding: 2%;
  max-height: 78%;
  overflow: scroll;
}

.trouble-symbols::-webkit-scrollbar{
  display: none;
}

.work-on-title{
  margin-top: 5%;
  font-size: 300%;
}

.work-on-line{
  border: medium solid #555b6e;
  background-color: #555b6e;
  width: 102%;
  margin-left: -1%;
}

.confused{
  font-size: small;
}

.ipa-table{
  display:flex;
  background-color: #ffd6ba;
  width: 82%;
  height: 100%;
  border: thick solid #555b6e;
  border-radius: 8% / 15%;
  margin-left: 3%;
  flex-direction: column;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

.page-title{
  font-size: 400%;
}


.cons-table{
  border-collapse: collapse;
  width: 100%;
  height: 70%;
  text-align: center;
  border: medium solid;
}

.header{
  cursor: pointer;
}

.symbol{
  font-size: 200%;
}

.symbol.filled{
  cursor: pointer;
}

.symbol.even-box{
  border-right: none;
}

.symbol.odd-box{
  border-left: none;
}

.highlighted{
  background-color: #55c1ff;
}

.selected{
  background-color: #55c1ff;
}
.play-button{
  margin: 1%;
  width: 10%;
  height: auto;
  cursor: pointer;
}

.feedback{
  display:flex;
  background-color: #ffd6ba;
  width: 82%;
  height: 100%;
  border: thick solid #555b6e;
  border-radius: 8% / 15%;
  margin-left: 3%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
  padding-top: 1%
}

.good-message{
  padding: .5% 1%;
  font-size: 80px;
  background-color: #bee3db;
  border: medium solid #555b6e;
  border-radius: 2% / 15%;
  user-select: none;
}

.good-answer{
  position: relative;
  padding: .2% 1%;
  font-size: 5em;
  text-align: center;
  background-color: #bee3db;
  border: medium solid #555b6e;
  border-radius: 7% / 12%;
  margin: 2%;
  cursor: pointer;
}

.good-answer:hover{
  border: medium solid #55c1ff;
}

.user-feedback-bar{
  width: 100%;
  display: flex;
  align-items: row;
  cursor: pointer;
  justify-content: space-around;
}

.user-feedback{
  text-align: center;
  padding: 1%;
  font-size: 3em;
  border: medium solid #555b6e;
  border-radius: 4% / 12%;
}

.user-feedback:hover{
  border: medium solid #55c1ff;
}

.user-feedback.good{
  background-color: #bee3db;
}

.user-feedback.medium{
  background-color: #fef6e4;
}

.user-feedback.bad{
  background-color: #f582ae;
}

.bad-message{
  text-align: center;
  padding: 0 1%;
  width: 70%;
  font-size: 80px;
  background-color: #f582ae;
  border: medium solid #555b6e;
  border-radius: 2% / 15%;
  user-select: none;
}

.bad-answers{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bad-answer{
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 5em;
  padding: 0 1%;
  border: medium solid #555b6e;
}

.bad-answer:hover{
  border: medium solid #55c1ff
}

.bad-answer.selected{
  background-color: #f582ae;
  border-radius: 6% / 15%;
}

.bad-answer.answer{
  background-color: #bee3db;
  border-radius: 8% / 15%;
}

.audio-icon{
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 10%;
}

.bad-continue{
  width: 70%;
  text-align: center;
  font-size: 4em;
  padding: .5% 1%;
  background-color: #bee3db;
  border: medium solid #555b6e;
  border-radius: 2% / 15%;
  cursor: pointer;
}

.bad-continue:hover{
  border: medium solid #55c1ff;
}